name: Run tests

on:
  pull_request:
    branches:
      - "**"

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: |
          uv sync --extra tests

      - name: Run pytest
        run: |
          timeout 60 uv run pytest dnd_character_creator -m "not integration and not requires_api_key" -p tests.conftest
